/* Write your CSS here */
.button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-family: 'Roboto';
  margin: 10px;
}
.active-language {
  border: 2px solid #0284c7;
  color: #0284c7;
  border-radius: 100%;
}
